body {
    background-color: #111;
    color: #fff;
}

body.dark-mode {
    background-color: #111;
    color: #fff;
}

.dark-mode button {
    background-color: #666;
    color: #fff;
}

/* Add more styles for dark mode here */
